{% extends "base.html" %}



{% block content %}
<section id="about" class="py-5">
    <div class="container">
      <div class="row d-flex align-items-center">
        <div class="col-md-6">
            <h2 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">About Us</h2>
            <p class="lead">Currently there was no sharing platform in University for sharing ongoing or published researches.
                 So, people accross departments did not know about any updates regarding ongoing or completed research. 
                 The aim of this project is to provide a common sharing platform for faculties and students of different 
                 departments of UoW and keep them updated about the advancements taking place by the members of University.</p>
                <p class="lead">Members of the faculty have international reputations in biology, chemistry and biochemistry, 
                    computer science, earth and environmental science, economics, mathematics and statistics, and physics. 
                    More than 650 graduate students and a large number of undergraduates undertake cutting-edge research in 
                    cutting-edge facilities, resulting in ground-breaking scientific breakthroughs.</p>
                 <p class="lead">   While the University's diverse faculty has unmatched experience in various fields of 
                    science, recognised primary research subjects include the environment, biomedical science, advanced 
                    materials, and data analytics and visualisation. Professors and students on the Faculty of Science get 
                    tens of millions of dollars in research funding each year and publish hundreds of articles in 
                    peer-reviewed publications.
                    </p> 
        </div>
        <div class="col-md-6">
            <img src="https://images.ctfassets.net/tj4axnfouxci/5JejT9tJBz8BcGqljstDIH/762f0169740868711728126ab5e301aa/Windsor_300_Ouelette_Primary_Desktop.jpg" alt="About Image" class="img-fluid">
          </div>
      </div>
    </div>
  </section>

  
  <section id="team" class="bg-light py-5">
    <div class="container">
      <h2 class="text-center mb-5" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Our Team</h2>
      <div class="row d-flex align-items-center">
        <div class="col-md-4">
          <div class="card about">
            <img src="https://media.licdn.com/dms/image/D5603AQEbEE1JaM9K_w/profile-displayphoto-shrink_800_800/0/1664916154962?e=1683763200&v=beta&t=pWauu0hZROod4UoXTjsRXHs1h2V09wn3wKjmv7OTZRI" alt="Team Member Image" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title" >Keneel Shah</h5>
              <p class="card-text">Masters of Applied Computing, University of Windsor</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card about">
            <img src="https://media.licdn.com/dms/image/C4E03AQFa75smXtHkcQ/profile-displayphoto-shrink_800_800/0/1622382343851?e=1683763200&v=beta&t=dA_PxcY99AO0mAps1V-6SMvXr7m8Zeg5ovMJL-XRaD8" alt="Team Member Image" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Siddhant Yadav</h5>
              <p class="card-text">Masters of Applied Computing, University of Windsor</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
            <div class="card about">
              <img src="https://media.licdn.com/dms/image/D5603AQG-V_8N79iPIA/profile-displayphoto-shrink_800_800/0/1676576701913?e=2147483647&v=beta&t=--ETdFoDAlE8AsdS2nU2CsPXiXFC3PchImQ0f7WUmiI" alt="Team Member Image" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title" id="varnita">Varnita Sharma</h5>
                <p class="card-text">Masters of Applied Computing, University of Windsor</p>              </div>
            </div>
          </div>
        </div>
    </div>
  </section>
{% endblock %}


