{% extends 'base1.html' %}

{% block content %}
<div class="container mt-5">
  <h1 class="text-center">Create New Post</h1>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
      <label for="title" id="important" >Title</label>
      <input type="text" class="form-control" id="title" name="title" placeholder="Enter title" required>
    </div>

    <div class="form-group">
        <label for="abstract" id="important">Abstract</label>
        <textarea class="form-control" id="abstract" name="abstract" rows="3" maxlength="2000"
        placeholder="Enter Abstract (upto 250 Characters)"></textarea>
    </div>

    <div class="form-group">
        <label for="date" id="important">Published on</label>
        <input type="date" class="form-control" id="date" name="date">
    </div>

    <div class="form-group">
      <label for="authors" >Co-Authors</label>
      <input type="text" class="form-control" id="authors" name="authors"
      placeholder="Enter author names separated by commas" >
    </div>

    <div class="form-group">
      <label for="keywords" id="important">Keywords</label>
      <input type="text" class="form-control" id="keywords" name="keywords"
      placeholder="Enter keywords separated by commas" required>
    </div>

    <div class="form-group">
      <label for="pdf" id="">Upload PDF</label>
      <input type="file" class="form-control-file" id="pdf" name="pdf" accept=".pdf">
    </div>

    <div class="form-group">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="allow_download" name="allow_download">
          <label class="form-check-label" for="allow_download">
            Allow Downloading
          </label>
        </div>
    </div>
    <div class="form-group">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="on_project" name="on_project">
          <label class="form-check-label" for="on_project">
            On Going Project
          </label>
        </div>
    </div>
    
    <button type="submit" class="btn btn-primary btn-submit" style="background:  #4bb8c2; 
    border-width: 2px; border-style: solid; border-color: #4bb8c2;">Submit</button>
  </form>
</div>
{% endblock %}
