{% extends 'base1.html' %}
{% block content %}
    <div class="container" style="margin-top: 30px;">
        <div class="row">
            <div class="col-md-9">
                <h2>Recently Published</h2>
                {% for post in posts %}
                    {#          <a href="{% url 'posts/{{ post.pid }}' %}">#}
                    <a href="{% url 'posts' post.id %}">
                        <div class="card mb-3">
                            <div class="card-body">
                                <h5 class="card-title">{{ post.title }}</h5>
{#                                <p class="card-text">{{ post.abstract }}</p>#}
                                <p class="card-text">{{ post.keywords }}</p>
                            </div>
                            <div class="card-footer text-muted">Posted on {{ post.published_on }}</div>
                        </div>
                    </a>
                {% empty %}
                    <p>Your connections have not posted anything!</p>
                {% endfor %}
            </div>


            <div class="col-md-3">
                <div class="card">
                    <div class="card-header">Saved Posts</div>

                    <ul class="list-group list-group-flush">
                        {% if savedlist %}
                            {% for savedpost in savedlist %}
                                <li class="list-group-item"><a
                                        href="{% url 'posts' savedpost.post.id %}">{{ savedpost.post.title }}</a></li>
                            {% endfor %}
                            </ul>
                        {% else %}
                            <p> No suggested connections at this time.</p>
                        {% endif %}
                </div>
                <div class="card mt-4">
                    <div class="card-header">Suggestions to Read</div>
                    <ul class="list-group list-group-flush">

                        {% if suggestedpost %}
                            {% for suggested in suggestedpost %}
                                <li class="list-group-item"><a
                                        href="{% url 'posts' suggested.id %}">{{ suggested.title }}</a></li>
                            {% endfor %}
                            </ul>
                        {% else %}
                            <p> No suggested connections at this time.</p>
                        {% endif %}
                </div>
                <div class="card mt-4">
                    <div class="card-header">People to Connect</div>
                    {% if suggestions %}
                        <ul class="list-group list-group-flush">
                            {% for user in suggestions %}
                                <li class="list-group-item"><a
                                        href="{% url 'profile' user.username %}">{{ user.username }}</a></li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p> No suggested connections at this time.</p>
                    {% endif %}
                </div>
            </div>
            <a href="{% url 'create_posts' %}"
               class="btn btn-primary rounded-circle btn-lg d-flex justify-content-center align-items-center fixed-bottom float-right m-3 "
               style="width: 60px; height: 60px; background-color: #4bb8c2; border-color: #4bb8c2; transition: 0.08s ease-in;
  -o-transition: 0.08s ease-in;
  -ms-transition: 0.08s ease-in;
  -moz-transition: 0.08s ease-in;
  -webkit-transition: 0.08s ease-in;">
                <span class="fa fa-plus"></span>
            </a>
        </div>
    </div>
{% endblock %}
