{% extends 'base1.html' %}
{{ form.media }}
{% block content %}

    <div class="container">
  <div class="sidenav mt-5">
    <div class="post">
      <h2 class="text-center pt-2">Saved Posts</h2>
           {% if savedlist %}
               {% for savedpost in savedlist %}
                   <ul>
                        <li class="list-group-item text-center"><a href="{% url 'posts' suggested.id %}">{{ suggested.title }}</a></li>
                   </ul>
                {% endfor %}
            {% else %}
                    <p class="m-3 text-center"> No suggested connections at this time.</p>
            {% endif %}
    </div>
<hr>
    <div class="suggest">
      <h2 class="text-center">Suggestions to Read</h2>
         {% if suggestedpost %}
            {% for suggested in suggestedpost %}
                <ul>
                    <li class="list-group-item text-center"><a href="{% url 'posts' suggested.id %}">{{ suggested.title }}</a></li>
                </ul>
            {% endfor %}
        {% else %}
                <p class="m-3 text-center"> No suggested connections at this time.</p>
        {% endif %}
    </div>
<hr>
    <div class="people">
        <h2 class="text-center">People to Connect</h2>
          {% if suggestions %}
            {% for user in suggestions %}
                <ul>
                    <li class="list-group-item text-center"><a href="{% url 'profile' user.username %}">{{ user.username }}</a></li>
                </ul>
            {% endfor %}
          {% else %}
                <p class="m-3 text-center"> No suggested connections at this time.</p>
         {% endif %}
    </div>
    </div>


<div class="container" >
  <div class="row" >
    <div class="col-md-9">
        <h2 style="margin-top: 40px; font-family: sans-serif;">{{ post.title }}</h2>

      <p>Published on {{ post.published_on|date:'F d, Y' }} by <a href="{% url 'profile' post.uploaded_by.username %}">{{ post.uploaded_by }}</a></p>
  <p>{{ post.views }} reads <i class="fa fa-eye" aria-hidden="true"></i></p>
          <p>Title: {{ post.title }}</p>

          <p>Co-authors: {{ post.authors }}</p>
          <p>Keywords: {{ post.keywords }}
              {% for skil in posts.get_skills %}
              {{ skil }};
              {% endfor %}
          </p>

        <a href="{{ pdf_url }}" class="btn btn-primary"
        style="background: #4bb8c2; border-width: 2px; border-style: solid;
        border-color: #4bb8c2; transition: 0.08s ease-in;
        -o-transition: 0.08s ease-in;
        -ms-transition: 0.08s ease-in;
        -moz-transition: 0.08s ease-in;
        -webkit-transition: 0.08s ease-in;">Preview  </a>

        {% if post.allow_downloading %}
        <a href="{%  url 'pdf_download' post.id %}" class="btn btn-primary"
        style="background: #4bb8c2; border-width: 2px; border-style: solid;
        border-color: #4bb8c2; transition: 0.08s ease-in;
        -o-transition: 0.08s ease-in;
        -ms-transition: 0.08s ease-in;
        -moz-transition: 0.08s ease-in;
        -webkit-transition: 0.08s ease-in;">Download <i class="fa fa-download" aria-hidden="true"></i> </a>
    {% endif %}

        {% if user.is_authenticated %}
           {% if is_saved %}
            <a href="{% url 'unsave_post' post.id %}" class="btn btn-danger" style="transition: 0.08s ease-in;
    -o-transition: 0.08s ease-in;
    -ms-transition: 0.08s ease-in;
    -moz-transition: 0.08s ease-in;
    -webkit-transition: 0.08s ease-in;">Unsave</a>
        {% else %}
            <a href="{% url 'save_post' post.id %}" class="btn btn-success" style="transition: 0.08s ease-in;
    -o-transition: 0.08s ease-in;
    -ms-transition: 0.08s ease-in;
    -moz-transition: 0.08s ease-in;
    -webkit-transition: 0.08s ease-in;">Save</a>
            {%endif %}
        {% endif %}
{#        <a href="#" class="btn btn-success" style="transition: 0.08s ease-in;#}
{#        -o-transition: 0.08s ease-in;#}
{#        -ms-transition: 0.08s ease-in;#}
{#        -moz-transition: 0.08s ease-in;#}
{#        -webkit-transition: 0.08s ease-in;">Save</a>#}

          <div class="card mb-3" style="margin-top: 20px;">
            <div class="card-body">
              <h4 class="card-title">Abstract <i class='fas fa-pencil-alt ml-2' aria-hidden="true" ></i></h4>
              <p class="card-text text-justify">{{ post.abstract }}</p>
            </div>

          </div>
    </div>
  </div>
{#<div class="col-md-3">#}

<div class="card mt-4 ml-3" style="width: 51.5rem">
    <h4 class="card-header">Comments ({{ post.comments.count }})<i class='fas fa-comment-alt ml-2' aria-hidden="true" ></i></h4>
    <div class="card-body">
        {% if post.comments.all %}
            {% for comment in post.comments.all %}
                <div class="row mt-2">
                    <div class="col-md-2 padding-0">
                        <p class="text-primary">{{ comment.name }}</p>
                    </div>
                    <div class="col-md-10 padding-0">
                        <div class="row">
                            <div class="col-md-9">
                                <p>{{ comment.body }}</p>
                            </div>
                            <div class="col md-3">
                                <p class="text-right text-secondary">{{ comment.created_at|date:'F d, Y' }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 padding-0">
                        <div class="row">
                            <div class = "col-md-3">
                                <p>Reply: <span class="text-primary">{{ user.username }}</span></p>
                            </div>
                            <div class = "col-md-5">
                                <p><span class="">{{ comment.reply_content }}</span></p></p>
                            </div>
                            <div class = "col-md-4">
                                <p class="text-right text-secondary">{{ comment.created_at|date:'F d, Y' }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="row reply mx-0 ml-3">
                        <label class="text-primary text-center" data-toggle="collapse" data-target="#replyBox{{ comment.id }}" aria-expanded="false" aria-controls="replyBox{{ comment.id }}">
                            Reply
                        </label>
                        <div class="collapse" id="replyBox{{ comment.id }}">
                            <form action="{% url 'add_reply' comment.id %}" method="post">
                                {% csrf_token %}
                                <div class="col-md-2 padding-0">
                                    <textarea name="reply_content" rows="2" cols="30" placeholder="Add a Reply"></textarea>
{#                                    <input type="hidden" name="cid" value="{{ comment.id }}">#}
                                </div>
                                <div class="col-md-4 padding-0">
{#                                    <input type="hidden" name="pid" value="{{ post.id }}">#}
                                    <button type="submit" class="btn btn-primary">Reply</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <hr>
            {% endfor %}
        {% else %}
            <p>No comments yet.</p>
        {% endif %}

        <form method="post" action="{% url 'add_comment' post.id %}">
            {% csrf_token %}
            <div class="row">
                <strong class="ml-3">{{ user.username }}</strong>&nbsp;<i class='fas fa-user-alt mt-1 ml-2' aria-hidden="true"></i>
            </div>
            <div class="row mt-2">
                <div class="col-md-10 padding-0">
                    {{ comment_form.as_p }}
                </div>
            </div>
            <div class="row ml-2">
{#                <input type="hidden" name="pid" value="{{ post.id }}">#}
                <input type="hidden" name="pid" value="">
                <button type="submit" class="btn btn-primary">Add Comment</button>
            </div>
        </form>
    </div>
</div>
</div>
</div>
</div>

{% endblock %}

